body{
	background: #f7f7f7;
}
.school{
	padding-top:.1rem;
	background: #ffffff;
	margin-bottom: .5rem;
}
.school .school-des{
	background-color: #eeeff3;
	height:.6rem;
	line-height: .6rem;
	color:#6e6e6e;
	font-size: .28rem;
	padding-left: .4rem;
}
.school .con-wrap{
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	padding-left: .3rem;
}
.school .school-wrap{
	font-size: .34rem;
	background: #ffffff;
	height: .88rem;
	line-height: .88rem;
	color: #2e2e2e;
	padding-left: .1rem;
	border-bottom: 1px solid #d0d0d0;
}
.school .last{
	border-bottom: none;
}

