body{
	font-size: .34rem;
	background: #f7f7f7;
}
.msg .region-school{
	border-top:1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	background: #ffffff;
	padding-left: .4rem;
}
.msg .region-item, .msg .school-item,.msg .bill-item, .msg .school-num{
	height: .88rem;
	line-height: .88rem;
	border-bottom: 1px solid #d0d0d0;
	padding-right:.2rem;
}
.msg .school-num{
	margin-top:.2rem;
	border-top:1px solid #d0d0d0;
	background: #ffffff;
	padding-left: .4rem;
}
.msg .school-num input{
	display: inline-block;
    height: .88rem;
    line-height: .88rem;
    font-size: .34rem;
    width:60%;
    color:#2e2e2e ;
}
.msg .school-num .choice input{
	color: #b8b8b8;
}
.msg .school-item{
	border-bottom:none;

}

.msg .bill-item{
	border-bottom:none;

}
.msg .icon-img{
	display: inline-block;
	width:.6rem;
	height: .6rem;
	background: url(../../images/mobile/region.png) no-repeat center center;
	background-size: 100% auto;
	vertical-align: middle;
	margin-right: .3rem; 
}
.msg .school-item .icon-img{
	background: url(../../images/mobile/school.png) no-repeat center center;
	background-size: 100% auto;

}

.msg .bill-item .icon-img{
	background: url(../../images/mobile/bill.png) no-repeat center center;
	background-size: 100% auto;

}

.msg .school-num .icon-img{
	background: url(../../images/mobile/id.png) no-repeat center center;
	background-size: 100% auto;

}

.msg .choice .msg-con{
	vertical-align: middle;
	color: #b8b8b8;
}
.msg .msg-con{
	color:#2e2e2e;
}
.msg .toward{
	margin-top:.32rem;
	display: block;
	float:right;
	width:.13rem;
	height: .24rem;
	background: url(../../images/mobile/toward.png) no-repeat center center;
	background-size: 100% auto;
	vertical-align: middle;
}
.msg .btn-wrap{
	text-align: center;
}
.msg .btn-wrap .btn{
	margin-top:.5rem;
	display: inline-block;
	width:5.6rem;
	height:.88rem;
	line-height: .88rem;
	text-align: center;
	border-radius: .1rem;
	background: #24a0ff;
	color: #ffffff;
}