.s-main{
	background-color: #f4f4f4;
	padding-bottom:30px;
}
.s-main .trade-banner{
	height:32px;
	background-color: #dedede;
	margin-bottom: 10px;
}
.s-main .trade-banner .banner-wrap{
	width:1000px;
	margin:0 auto;
	padding-top:4px;
}
.s-main .trade-banner .banner-txt{
	display: inline-block;
	width:98px;
	height:22;
	text-align: center;
	border:1px solid #dedede;
	line-height: 22px;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 3px;
}
.s-main .trade-banner .banner-txt:hover{
	background:#d1d1d1;
	border:1px solid #afafaf; 
	color: #ffffff;
}
.s-main .trade-banner .cur-page{
	background-color: #a6a6a6;
	border-color:#858585;
	color:#ffffff;
	border-radius: 3px;
}
.s-main .trade-wrap{
	background-color: #ffffff;
	width:1000px;
	margin:0 auto;
}
.s-main .trade-wrap .trade-main-title{
	height: 37px;
    line-height: 37px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}
.s-main .trade-wrap .trade-main-top{
	border-top:3px solid #b2cfef;
	border-bottom:1px dashed #b2cfef;
	background-color: #f5fcff;
}
.s-main .trade-wrap .trade-main-top .trade-time-wrap{
	padding-left: 49px;
	height:69px;
	line-height: 69px;
}
.s-main .trade-wrap .trade-main-top .trade-time-wrap input{
	border: none;
    border: 1px solid #b2cfef;
    width: 100px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    padding:5px 5px;

}
.s-main .trade-wrap .trade-main-top .trade-time-wrap .input-second{
	margin-right:30px;
}
.s-main .trade-wrap .trade-main-top .trade-time-wrap .input-center{
	width: 28px;
    border-top: 1px solid #b2cfef;
    border-bottom: 1px solid #b2cfef;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background-color: #ffffff;
}
.s-main .trade-wrap .trade-main-top .trade-con-wrap{
	border-top:1px solid #b2cfef;
	padding:9px 10px 9px 49px;
}
.s-main .trade-wrap .trade-main-top span,
.s-main .trade-wrap .trade-main-top input{
	vertical-align: middle;
	display: inline-block;
}
.s-main .trade-wrap .trade-main-top .trade_icon{
	background-image: url(../../images/order/trade_record.png);
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	width:18px;
	height:18px;
	margin-right:11px;
} 
.s-main .trade-wrap .trade-main-top .trade-con-des{
	font-weight: bold;
	margin-right:24px;
}
.s-main .trade-wrap .trade-main-top .trade_time_icon{
	background-position: 0 0;
	background-repeat: no-repeat;
}
.s-main .trade-wrap .trade-main-top .trade_con_icon{
	background-position: 0 -44px;
	background-repeat: no-repeat;
}
.s-main .trade-wrap .trade-main-top .trade_status_icon{
	background-position: 0 -87px;
	background-repeat: no-repeat;
}
.s-main .trade-wrap .trade-main-top .trade-con-wrap p{
	height:34px;
	line-height:34px;
}
.s-main .trade-wrap .trade-main-top a{
	height:18px;
	line-height: 18px;
	display: inline-block;
	padding:0 7px;
	margin-right:28px;
	border-radius:3px;
	vertical-align: middle;
	cursor: pointer;
	color:#000000;
}
.s-main .trade-wrap .trade-main-top .cur{
	background-color: #ff8a00;
	color: #ffffff;
}
.s-main .trade-wrap .trade-main-con .record-list{
	background-color: #ffffff;
	padding:0 1px;
	padding-top:20px;
	min-height: 245px;

}
.s-main .trade-wrap .trade-main-con .record-title{
	height:34px;
	line-height: 34px;
	font-weight: bold;
	border-bottom:1px solid #cccccc;
	background-color: #f3f3f3;
	padding-left:32px;
}
.s-main .trade-wrap .trade-main-con .record-item{
	height:50px;
	line-height: 50px;
	border-bottom: 1px solid #e6e6e6;
	padding-left:32px;
}
.s-main .trade-wrap .trade-main-con .even{
	background-color: #fbfbfb;
}
.s-main .trade-wrap .trade-main-con .record-list a,
.s-main .trade-wrap .trade-main-con .record-list span{
	display: inline-block;
	vertical-align: middle;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-platform{
	width:109px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-serial-number{
	width:85px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-order-number{
	width:133px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-time{
	width:172px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-type{
	width:73px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-payer{
	width:95px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-beneficiary{
	width:112px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-amounts{
	width:96px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	color: #ff8a00;
}
.s-main .trade-wrap .trade-main-con .record-list .record-title .trade-amounts{
	color: #313131;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-status{
	width:82px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.s-main .trade-wrap .trade-main-con .record-list .success .trade-status{
	color:#00b811;
}
.s-main .trade-wrap .trade-main-con .record-list .fail .trade-status{
	color:#ff2424;
}
.s-main .trade-wrap .trade-main-con .record-list .trade-ctr{
	width:48px;
	position: relative;
	
}
.s-main .trade-wrap .trade-main-con .record-item .trade-ctr{
	color: #2867cb;
}

.s-main .trade-wrap .trade-main-con .record-item .detail-con-wrap {
	width:44px;
	height:21px;
	position: relative;
	overflow: hidden;
}
.s-main .trade-wrap .trade-main-con .record-item .detail-con-wrap .detail-txt{
	margin-right:4px;
	line-height: 21px;
}
.s-main .trade-wrap .trade-main-con .record-item .detail-con-wrap .detail-icon{
	background: url(../../images/order/show_tip.png) no-repeat 0 0;
	display: inline-block;
	vertical-align: middle;
	width:7px;
	height:4px;
}
.s-main .trade-wrap .trade-main-con .record-item .detail-and-del{
	position: absolute;
	background-color: #ffffff;
	width:54px;
	height:44px;
	top:-10px;
	left:-10px;
	border: 1px solid #cccccc;
	display: none;
}
.s-main .trade-wrap .trade-main-con .record-item .detail-and-del .del-record{
	border-bottom: 1px solid #cccccc;
}
.s-main .trade-wrap .trade-main-con .record-item .detail-and-del a{
	width: 54px;
    text-align: center;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
}
.s-main .trade-wrap .trade-main-con .record-item .detail-and-del a:hover{
	background-color: #4397fc;
	color:#ffffff;
}
.s-main .trade-wrap .trade-main-con .no-record{
	height:200px;
	text-align: center;
	font-size: 28px;
	line-height: 200px;
}
.page-step{
	margin:0 auto;
	width:1000px;
	text-align: center;
}