.s-main{
    background-color: #eeeeee;
}
.s-main .main-content{
	width: 1000px;
	margin:0 auto;
	padding: 10px 0;
}
.s-main .main-content .main-wrap{
	background-color: #fff;
	border-radius: 3px;
	padding-bottom: 100px;
	margin-bottom:20px;
}
.s-main .pay-complete-wrap {
	font-size: 12px;
    padding: 10px;
    border-top: 3px solid #b2cfef;
    background: url(../../images/easypay/underline.png) repeat-x left bottom;
    background-color: #f5fcff;
}
.s-main .pay-complete-wrap .pay-complete-title{
	font-size: 14px;
    font-weight: bold;
    color: #313131;
    line-height: 20px;
    padding-left: 15px;
    height: 20px;
    padding-top: 12px;
    margin-bottom: 14px;
}
.s-main .pay-complete-wrap .pay-complete-msg{
	font-size: 14px;
    padding-left: 15px;
    line-height: 20px;
    margin-bottom: 12px;
}
.s-main .pay-complete-wrap .pay-complete-msg .msg-value{
	margin-right:57px;
}
.s-main .pay-complete-wrap .pay-complete-msg .pay-success{
	color:#00900b; 
}
/*下部分内容*/
.main-content .main-wrap .main-complete-con{
	text-align: center;
	margin-top: 75px;
    margin-bottom: 23px;
}
.main-content .main-wrap .main-complete-text span ,.main-content .main-wrap .main-complete-text a{
	display: inline-block;
	vertical-align: middle;
}
.main-content .main-wrap .failure-img,.main-content .main-wrap .success-img{
	background-image:url(../../images/easypay/complete_status.png);
	margin-right:20px; 
}
.main-content .main-wrap .success-img{
	width:63px;
	height: 63px;
	background-position:0 0;
	margin-right:20px;
}
.main-content .main-wrap .failure-img{
	width:58px;
	height:62px;
	background-position: -134px -2px;
	margin-right:24px;
}
.main-content .main-wrap .success-txt{
	font-size:30px;
	color: #00900b;
	line-height: 35px;
}
.main-content .main-wrap .main-complete-text .complete-btn{
	text-align: center;
}
.main-content .main-wrap .main-complete-text .complete-btn .pay-btn{
	color: #ffffff;
	background: #ff8a00;
	font-size: 14px;
	font-weight: bold;
	height:34px;
	line-height: 34px;
	border:1px solid #ea7900;
	text-align: center;
	width:120px;
	cursor: pointer;
}
.main-content .main-wrap .main-complete-text .complete-btn .pay-btn:hover{
	color: #ffffff;
}
.main-content .main-wrap .main-complete-text .complete-btn .other-pay{
	margin-right:10px;
}
