*{
	margin:0;
	padding:0;
}

.s-content{
	padding-top:10px;
	padding-bottom:10px;
	background-color: #eeeeee;
}
 .main-content{
 	border-radius: 1% 1%;
	width: 1000px;
	height:100%;
	text-align: center;
	flex-direction: row ;
	margin:0 auto;
	background-color: #fff;
	display: -webkit-box;
    display: -moz-box;
	display: -o-box;
	display: -ms-flexbox;
	display: flex;
}

.main-left{
	margin-top:5px; 
	width:180px;
	height:auto;
	background-color:#f2f2f2; 
}

.main-right{
	-moz-box-flex: 1;
	 -webkit-box-flex: 1;
	-o-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: -2px;
    line-height: 25px;
	background-color:#fff;
	height:750px;
}
.main-list{
	width:180px;
	height:50px;
	line-height: 50px;
	text-align:center;
}
 .sub{
	background-color:#ff9703;
	color:#fff; 
}
.circle{
	display: inline-block;
	width:10px;
	height:10px;
	background-image: url(../../images/user/consult_03.png);
}


.circle{
background-position: -17px -70px;
}
.focus {
background-position: -17px -20px;
}
.main-list .selected{
	color:#ff9703;
	background-color: #fff;
}

.main-list a{
	display: inline-block;
	padding:0 59px;
	color:#000;

}
.main-list  a .sub{
	color:#fff;
}


.bold{
	font-weight: bold;
}
.main-about{
	margin-top:20px;
	
	height:83px;
}
.main-about img{
	float:left;
}
.main-cont{
	width: 748px;
	height: 210px;
	margin: 0 auto;
}
.cont-left{
	
	float: left;

}
.img-contact{
	margin-left: 35px;
}
.icon{
	display: inline-block;
	width: 35px;
	height: 46px;
	vertical-align: middle;
	background:url(../../images/user/conta_03.png) no-repeat;
}
.icon2{
    background-position:0px -52px; 
}
.icon3{
    background-position:10px -98px; 
    margin-right: 14px;
}.icon4{
    background-position:3px -148px; 
    margin-right:4px;
}
.left-list4 {
width: 154px;
}
.left-list3 {
width: 187px;
}
.left-list2 {
width: 308px;
}
.left-list1 {
width: 236px;
}
